.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f0f2f5;
  .header {
    height: 40px;
    background-color: #fff;
  }
  .content-wrapper {
    flex: 1;
    padding: 12px 0;
    .content {
      display: flex;
      height: 100%;
      padding: 0 24px;
      .left {
        width: 285px;
        padding: 0 12px;
        border-radius: 5px;
        background-color: #fff;
      }
      .main{
        flex: 1;
        position: relative;
        .canvas-wrapper {
          position: absolute;
          width: 400px;
          height: 630px;
          border-radius: 5px;
          box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
          background-color: #fff;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          overflow: auto;
        }
      }
      .right {
        width: 300px;
        padding: 0 12px;
        border-radius: 5px;
        background-color: #fff;
      }
    }
  }
}

