.container {
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 10px;
  background-color: #fff ;
  &:hover {
    box-shadow: 0 4px 10px #e8e8e8;
  }
}

.title {
  display: flex;
  justify-content: space-between;
}

.button-container {
  display: flex;
  justify-content: space-between;
}