body {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: auto;
  overflow-x: hidden;
}

#root {
  /* 解决滚动条出现造成页面宽度被挤压问题 */
  margin-right: calc(100% - 100vw);
}